.case {
  background-image: url("../../img/case/case.svg");
  background-position: no-repeat;
  background-size: cover;
  height: 600px;
  margin-top: 100px;
  padding-left: 1080px;
  &__title {
    padding-top: 266px;
    @include font-style($color-dark-brown, 14px, 400, 143%, none, uppercase);
  }
  &__description {
    @include font-style($color-light-brown, 14px, 400, 150%, none, none);
    width: 285px;
    height: 48px;
  }
}
